@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display+SC:wght@700&family=Playfair+Display:wght@500;700&display=swap");
body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 700;
  max-width: 375px;
}

.header {
  background-color: #2B2B32;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header__menu {
  padding: 14px 0;
}
.header__nav {
  padding: 0 4px;
}
.header__nav:hover {
  opacity: 80%;
}
.header__search {
  background: url("../svg/search.svg") #FFFFFF no-repeat left 10px center;
  align-items: center;
  padding-left: 30px;
  width: 252px;
  height: 30px;
  border-radius: 35px;
  margin: 20px 0;
}
.header__search ::placeholder {
  color: #A6A6A6;
}

.main {
  background-color: #E5E5E5;
}
.main__header {
  color: #85404C;
  font-size: 18px;
  padding: 15px 0 0 30px;
  margin: 0;
}

.card {
  background-color: #FFFFFF;
  max-width: 335px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
}
.card__product {
  padding-top: 20px;
}
.card__img {
  padding: 20px 18px;
  max-width: 100%;
}
.card__compare {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  align-items: center;
  padding: 20px;
}

.product__name {
  text-transform: uppercase;
  margin: 0;
}
.product__info {
  display: flex;
  justify-content: space-between;
  max-width: 227px;
  align-items: center;
  margin: 10px 0;
}
.product__price {
  font-family: "Playfair Display SC", serif;
  font-size: 28px;
  padding-right: 25px;
  margin: 0;
}
.product__button {
  background-color: #85404C;
  height: 38px;
  width: 90px;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 31px;
  cursor: pointer;
}
.product__button:hover {
  opacity: 80%;
}
.product__button-empty {
  background-color: #C72A33;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  cursor: pointer;
}
.product__button-empty:hover {
  opacity: 80%;
}
.product__data {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  margin-top: 12px;
}
.product__text {
  margin: 4px 0;
}

.long-button {
  margin: 0 20px;
  color: #FFFFFF;
  width: 335px;
  background-color: #819AB7;
  height: 41px;
  text-transform: uppercase;
  border-radius: 35px;
  cursor: pointer;
}
.long-button:hover {
  opacity: 80%;
}
.long-button__container {
  padding: 32px 0 197px;
}

.indent {
  padding-bottom: 581px;
}

.container {
  background: url("../img/wineglass.png") no-repeat;
  background-size: cover;
}

.title {
  margin: 0;
  padding: 30px 0 10px 35px;
  color: #A8BFCC;
}

.content {
  margin: 0;
  padding: 20px 0 10px 35px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  max-width: 305px;
}
.content__wave {
  margin: 0 auto;
  display: flex;
}

.wave {
  margin: 30px 0;
}

.container__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.box {
  max-width: 157px;
  margin-bottom: 25px;
}
.box__top {
  background-color: #2B2B32;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}
.box__title {
  text-transform: uppercase;
  color: #FFFFFF;
}
.box__button {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 19px;
  height: 19px;
}
.box__main {
  background-color: #FFFFFF;
  border-radius: 0 0 15px 15px;
  padding: 15px 15px 37px 15px;
}
.box__text {
  margin: 0;
  font-weight: 500;
}

.tariffs {
  display: flex;
}

.card-tariffs {
  background-color: #FFFFFF;
  margin: 10px;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
}
.card-tariffs__title {
  color: #852234;
}
.card-tariffs__price {
  font-family: "Playfair Display SC", serif;
  font-size: 28px;
  padding-bottom: 15px;
  margin: 0;
}

.vinobox-indent {
  padding-bottom: 100px;
}

.card-tariffs-big {
  background-color: #FFFFFF;
  margin: 20px;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}
.card-tariffs-big__title {
  color: #852234;
  font-size: 24px;
  padding: 15px 0;
}
.card-tariffs-big__text {
  margin: 8px;
  font-weight: 500;
  font-size: 18px;
}
.card-tariffs-big__price {
  font-family: "Playfair Display SC", serif;
  font-size: 28px;
  padding-bottom: 15px;
  margin: 0;
}
.card-tariffs-big__payment {
  font-family: "Playfair Display SC", serif;
  font-size: 24px;
  padding-bottom: 15px;
  margin: 0;
}

.back {
  padding-left: 10px;
  text-decoration: none;
  color: #FFFFFF;
}

.confirmation {
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 35px auto;
  font-weight: 400;
}
.confirmation__check {
  width: 19px;
  height: 19px;
  border-radius: 5px;
  background-color: #DEDEDE;
}
.confirmation__text {
  width: 223px;
}

.main-grey {
  background-color: #2B2B32;
}

.table__header {
  background: #A8BFCC;
  border-radius: 15px 15px 0px 0px;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  color: #FFFFFF;
  margin: 0 20px;
  font-weight: 500;
  align-items: center;
  padding: 0 10px;
}
.table__header__dop {
  text-align: center;
}
.table__main {
  background: #F5F5F5;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  padding: 0 10px;
  margin: 0 20px;
  font-weight: 500;
  font-size: 10px;
  justify-items: center;
}

.dark {
  background-color: #000000;
  opacity: 0.7;
  position: absolute;
  width: 375px;
  height: 770px;
  top: 70px;
}

/*# sourceMappingURL=style.css.map */
