/*
Error: Invalid mixin "======".
        on line 50 of D:\Андрей\Desktop\progger\wines bacchus\style\style.sass

45:     &:hover
46:       opacity: 80%
47: <<<<<<< HEAD
48:   &__container
49:     margin: 20px
50: =======
51: >>>>>>> 3e34cd0cb8ef2b97b259f93536f1d456cd434779
52: .card
53:   background-color: #FFFFFF
54:   max-width: 335px
55:   margin: 20px

Backtrace:
D:\Андрей\Desktop\progger\wines bacchus\style\style.sass:50
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:1127:in `parse_mixin_definition'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:659:in `parse_line'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:540:in `build_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:559:in `block in append_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `append_children'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:417:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:22:in `load'
C:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid mixin \"======\".\A         on line 50 of D:\Андрей\Desktop\progger\wines bacchus\style\style.sass\A \A 45:     &:hover\A 46:       opacity: 80%\A 47: <<<<<<< HEAD\A 48:   &__container\A 49:     margin: 20px\A 50: =======\A 51: >>>>>>> 3e34cd0cb8ef2b97b259f93536f1d456cd434779\A 52: .card\A 53:   background-color: #FFFFFF\A 54:   max-width: 335px\A 55:   margin: 20px"; }
